#qwe {
    font-size: 2rem;
    background: linear-gradient(to right, red, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.1em 2px 6px;
    cursor: pointer;
}