.content-container {
    background-color: white;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    min-width: 1200px;
    display: inline - block;
    width: 90%;
    color: red;
}

.input-tip {
    margin: 0 10px;
    line-height: 40px;
}

.input-field {
    margin-right: 40px;
}

.content-row {
    margin-bottom: 20px;
}