
p{
  margin:5px 0 0 5px;
  color:#3333FF;
  font-size:14px;

}
div{
  font-family: "幼圆";
  border-radius: 10px;
}
div ul{

  list-style-type: none;
  margin: 0;padding: 0;

}
div li{
  border-bottom: 1px #ed9f9f solid;
  float:left;
  width: 150px;
}
div li a{
  display: block;
  padding: 5px 5px 5px 0.5em;
  text-decoration: none;
  border-left: 12px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  
}
div li a:visited{
  background-color: #F0F0F0;
  color: #461737;
}
div li a:hover{
  background-color: #7C7C7C;
  color: #ffff00;
}
.txt_area{
  width:80%;
  height:248px;
  border:1px solid #EBEBEB;
  overflow:hidden;
  position:relative;/*绝对定位定死了用absolute*/ 
  top:-2px;
  left: 10px;
}