<template>
    <div> <h1 class="title">日本轻小说书籍添加说明(需要打包发送给数据库)</h1></div>
    <div id="scanf" class="scanfbox1">
        <p1>id&nbsp;&nbsp;&nbsp;&nbsp;：</p1><input type="text" v-model="arr" value="输入序列id，输了也没用（时间戳）">
        <br/>
        <p1>作者：</p1><input type="text" v-model="brr" value="输入作者">
        <br/>
        <p1>书籍：</p1><input type="text" v-model="crr" value="输入书籍名">
        <br/>
        <br/>
        <button type="button" @click="Run2()" class="right">录入</button>
        <br/>
    </div>
    <div id="show" class="showbox1">
        <ul class="showul">
            <li v-for="(a,index) in list":key="a.id" >
                {{index+1+ "."+a.name +":"+a.book }} 
                <button type="button" @click="Run(a.id)">删除</button>
    
            </li>
        </ul>
    
    </div>
    <div id="test" >
        <p>{{"1"+ txt1 }}</p>
        <p>{{"2"+ txt2 }}</p>
        <p>{{"3" +txt3 }}</p>
        <p>{{"4" +txt4 }}</p>
    
    </div>
    
    </template>
<script>
    export default {
        data() {
            return {
                list: [{
                    id: 1,
                    name: "葵关南",
                    book: "碧阳学生会议事录-学生会的一己之见"
                }, {
                    id: 2,
                    name: "橘公司",
                    book: "约会大作战"
                }, {
                    id: 3,
                    name: "葵关南",
                    book: "电玩咖"
                }, {
                    id: 4,
                    name: "橘公司",
                    book: "极彩的魔女"
                }, {
                    id: 5,
                    name: "葵关南",
                    book: "我的勇者"
                }, ],

                arr: "",
                brr: "",
                crr: "",
                a: 0,
                b: null,
                c: null,
                txt1: null,
                txt2: null,
                txt3: null,
                txt4: null,
            }
        },
        methods: {
            Run(c) {
                this.list = this.list.filter(a => a.id !== c);
            },
            SendJson() {
                /*0*/
                var self = this;
                var sendjson = JSON.stringify(this.list);
                console.log("打印是list");
                console.log(this.list);
                var BB;
                var obj;
                var xhr;



                /*1*/
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                } else { // code for IE6, IE5 兼容
                    xhr = new ActiveXObject("Microsoft.XMLHTTP");
                }
                /*2*/
                xhr.open("POST", "https://api.uomg.com/api/qq.info?qq=2338606140", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); // 设置请求头，表明发送的是JSON数据

                /*3*/
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {

                        obj = JSON.parse(xhr.responseText);
                        console.log("打印是obj");
                        console.log(obj);
                        self.txt1 = obj.qq;
                        alert(xhr.responseText);
                    } else {
                        alert('出错了，Err:' + xhr.status);
                    }
                };
                /*4*/
                BB = JSON.parse(sendjson);
                console.log("打印是BB");
                console.log(BB);



                xhr.send(sendjson);

            },
            Run2() {
                this.list.push({
                        id: +Date.now(),
                        name: this.brr,
                        book: this.crr,
                    }

                );
                console.log(this.list);
                this.SendJson();

            }
        }
    }
</script>


<style>
    .showul {
        list-style: none;
        padding-left: 0;
    }
    
    .right {
        margin-left: 200px;
    }
    
    .title {
        color: red;
        text-align: center;
    }
</style>